body{
    font-family: 'Jura', sans-serif;
}
header{
    width: 100%;
    height: 100%;
    background-image: url(/images/brett-ritchie-1vKTnwLMdqs-unspla.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
h1{
    color: #E6D6B5;
    font-size: 50px; 
    font-weight: normal;
    max-width: 50px;
    margin: 0;
    padding-top: 30px;
    padding-left: 40px;
    
    
}
nav ul{
    color: #E6D6B5;
    list-style-type: none;
    float: right;
    padding-top: 260px;
    padding-right: 40px;
    font-size: 25px;
    line-height: 4.5rem;

}
nav ul a{
    text-decoration: none;
    color: #E6D6B5;
  }
  .explorebutton{
    background-color: none;
    border-radius: 30px;
    border: 3px solid #E6D6B5;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;

  }
  .explorebutton:hover{
    background-color: #E6D6B5;
    color: black;
    transition: 300ms;
  }
  .exhibitionbutton{
    background-color: none;
    border-radius: 30px;
    border: 3px solid #E6D6B5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 12px;
    padding-bottom: 12px;

  }
  .exhibitionbutton:hover{
    background-color: #E6D6B5;
    color: black;
    transition: 300ms;
  }
  .visitbutton{
    background-color: none;
    border-radius: 30px;
    border: 3px solid #E6D6B5;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;

  }
  .visitbutton:hover{
    background-color: #E6D6B5;
    color: black;
    transition: 300ms;
  }
html, body{
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0E0E0C;
}
main{
    background-color: #0E0E0C;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.abouttext{
    color: #E6D6B5;
    font-size: 20px;
    font-weight: normal;
    padding: 30px;
    line-height: 2rem;
    max-width: 1200px;
}
footer{
    width: 100%;
    background-color: #E6D6B5;
    height: 150px;
}
.socialicons{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
    padding-top: 35px;
}
.facebook{
    width: 40px;
    }
.instagram{
    width: 40px;
}
.copyright{
    display: flex;
    justify-content: center;
}
